<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rose</title>
    {% load static %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/mainfrontend.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">Rose</div>
            <div class="nav-links">
                <div class="nav-link-token-profile">
                    <a href="#">PL</a>
                </div>
            </div>
        </div>

        <div class="main_div">
            <div class="search_bar">
                <div class="search_bar_1">
                    <form class="search_bar_2" method="post">
                        {% csrf_token %}
                        <label for="search">🔎︎</label>
                        <input type="text" id="search" name="search" placeholder="Search">
                        <button type="button" id="search_main">Search</button>
                    </form>
                    <div class="search_data" style="display: none;">
                        <table>
                            <tbody>
                                {% for i in seatch_result %}
                                <tr>
                                    <td>
                                        <button class="play9" data-url="{{ i.url }}" data-title="{{ i.name }}"
                                            data-artist="{{ i.artist }}">

                                        </button>
                                        <button class="pause9" data-url="{{ i.url }}" style="display: none;">

                                        </button>
                                    </td>
                                    <td><a href="#">{{ i.name }}</a></td>
                                    <td>{{ i.artist }}</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <div class="libraries_history">
                        <div class="libraries">
                            <div>
                                <a href="#">Library Name</a>
                                <h1>15</h1>
                            </div>
                        </div>
                        <div class="libraries">
                            <div>
                                <a href="#">Library Name</a>
                                <h1>Song count 15</h1>
                            </div>
                        </div>
                        <div class="history">
                            <div>
                                <a href="#">History</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main_screen">

                <div class="upper_section1" style="display: none;">
                    <div class="editing_section1">
                        <div class="collaborative_player_container1">
                            <button class="back_trending" id="back1" type="button">Back</button>
                            <div class="collaborative_player_container_search_header1">
                                <h2>Popular Musics</h2>
                                <div class="search_bar_for_playlist1">
                                    <input type="text" id="collaboration_search_bar1" placeholder="Search"
                                        name="collaboration_search_bar1">
                                    <button type="button" id="search_query1">Search</button>
                                </div>
                            </div>
                            <table>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Title</th>
                                        <th>Album</th>
                                        <th>Artist</th>
                                        <th>Duration</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in trending_song_list %}
                                    <tr>
                                        <td>
                                            <button class="play5" data-url="{{ i.url }}" data-title="{{ i.name }}"
                                                data-artist="{{ i.artist }}">

                                            </button>
                                            <button class="pause5" data-url="{{ i.url }}" style="display: none;">

                                            </button>
                                        </td>
                                        <td><a href="#">{{ i.name }}</a></td>
                                        <td><a href="#">{{ i.album }}</a></td>
                                        <td>{{ i.artist }}</td>
                                        <td>{{ i.duration }}</td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="upper_section2" style="display: none;">
                    <div class="editing_section2">
                        <div class="collaborative_player_container2">
                            <button class="back_s1990" id="back2" type="button">Back</button>
                            <div class="collaborative_player_container_search_header2">
                                <h2>Back to old century Music</h2>
                                <div class="search_bar_for_playlist2">
                                    <input type="text" id="collaboration_search_bar2" placeholder="Search"
                                        name="collaboration_search_bar2">
                                    <button type="button" id="search_query2">Search</button>
                                </div>
                            </div>
                            <table>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Title</th>
                                        <th>Album</th>
                                        <th>Data Added</th>
                                        <th>Duration</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in s1990_song_list %}
                                    <tr>
                                        <td>
                                            <button class="play6" data-url="{{ i.url }}" data-title="{{ i.name }}"
                                                data-artist="{{ i.artist }}">

                                            </button>
                                            <button class="pause6" data-url="{{ i.url }}" style="display: none;">

                                            </button>
                                        </td>
                                        <td><a href="#">{{ i.name }}</a></td>
                                        <td><a href="#">{{ i.album }}</a></td>
                                        <td>{{ i.artist }}</td>
                                        <td>{{ i.duration }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="upper_section3" style="display: none;">
                    <div class="editing_section3">
                        <div class="collaborative_player_container3">
                            <button class="back_reco" id="back3" type="button">Back</button>
                            <div class="collaborative_player_container_search_header3">
                                <h2>Recommended for You</h2>
                                <div class="search_bar_for_playlist3">
                                    <input type="text" id="collaboration_search_bar3" placeholder="Search"
                                        name="collaboration_search_bar3">
                                    <button type="button" id="search_query3">Search</button>
                                </div>
                            </div>
                            <table>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Title</th>
                                        <th>Album</th>
                                        <th>Data Added</th>
                                        <th>Duration</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in special_song_list %}
                                    <tr>
                                        <td>
                                            <button class="play7" data-url="{{ i.url }}" data-title="{{ i.name }}"
                                                data-artist="{{ i.artist }}"">
                                                 
                                            </button>
                                            <button class=" pause7" data-url="{{ i.url }}" style="display: none;">

                                            </button>
                                        </td>
                                        <td><a href="#">{{ i.name }}</a></td>
                                        <td><a href="#">{{ i.album }}</a></td>
                                        <td>{{ i.artist }}</td>
                                        <td>{{ i.duration }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <div class="upper_section">
                    <div class="trending">
                        <div class="trending_1">
                            <div class="centered">
                                <button class="button_for_trending" id="trending_section"
                                    type="button">Trending</button>
                            </div>
                        </div>
                    </div>

                    <div class="old_songs">
                        <div class="old_songs_1">
                            <div class="centered">
                                <button class="button_for_s1990" id="s1990_section" type="button">1990</button>
                            </div>
                        </div>
                    </div>

                    <div class="features">
                        <div class="features_1">
                            <div class="first_feature">
                                <div class="first_feature_1">
                                    <a href="{% url 'mimicking_page' %}">Voice Mimicking</a>
                                </div>
                            </div>
                            <div class="second_feature">
                                <div class="first_feature_1">
                                    <a href="{% url 'tune_page' %}">Change Tune</a>
                                </div>
                            </div>
                            <div class="third_feature">
                                <div class="first_feature_1">
                                    <a href="{% url 'listen2gether' %}">Listen2gether</a>
                                </div>
                            </div>
                            <div class="third_feature">
                                <div class="first_feature_1">
                                    <a href="#">comming soon..</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recommendation">
                    <div class="recommendation_1">
                        <div>
                            <div class="recommendation_txt">
                                <button class="button_for_reco" id="reccomention_section" type="button">Hope you love
                                    it</button>
                            </div>
                            <div class="image_edite">
                                {% for i in special_song_list %}
                                <div class="reco_song" style="background-image: url('{{ i.img_url }}');">
                                    <div class="reco_song1">
                                        <dt><a href="#">{{ i.name }}</a></dt>
                                        <dt><a href="#">{{ i.album }}</a></dt>
                                        <dt><a href="#">{{ i.artist }}</a></dt>
                                    </div>
                                    <button class="play8" type="button" data-url="{{ i.url }}" data-title="{{ i.name }}"
                                        data-artist="{{ i.artist }}""></button>
                                    <button class=" pause8" type="button" data-url="{{ i.url }}"
                                        style="display: none;"></button>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lower_section">
                    <div class="player">
                        <div class="player_1">
                            <div class="song_info">
                                <div class="title_artist">
                                    <h1 class="title"></h1>
                                    <h2 class="artist"></h2>
                                </div>
                                <div class="progress-container1">
                                    <div class="progress-bar1"></div>
                                </div>
                                <div class="controls">
                                    <button type="button" class="shuffle"></button>
                                    <button type="button" class="backward"></button>
                                    <button type="button" class="play"></button>
                                    <button type="button" class="pause" style="display: none;"></button>
                                    <button type="button" class="forward"></button>
                                    <button type="button" class="repeat"></button>
                                </div>
                                <audio id="audio" src=""></audio>
                            </div>
                            <div class="aditional_options">
                                <button type="button" class="like"></button>
                                <button type="button" class="share"></button>
                                <button type="button" class="lyrics"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="popupModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <p id="popupMessage"></p>
        </div>
    </div>
</body>


<script>
    $( function() {
        $( "#search" ).autocomplete({
            source: ['python', 'aniket']
        });    
    } );
    document.addEventListener('DOMContentLoaded', function () {
        const audio = document.getElementById('audio');
        const playButton = document.querySelector('.play');
        const pauseButton = document.querySelector('.pause');
        const nextButton = document.querySelector('.forward');  // Corrected to match your previous message
        const prevButton = document.querySelector('.backward'); // Corrected to match your previous message
        const progressBar = document.querySelector('.progress-bar1');
        const progressContainer = document.querySelector('.progress-container1');
        const title = document.querySelector('.title');
        const artist = document.querySelector('.artist');

        let isPlaying = false;
        let currentSongIndex = 0;
        let songList = [];

        function handleButtonClick(song) {
            if (song.url && song.title && song.artist) {
                audio.src = song.url;
                title.textContent = song.title;
                artist.textContent = song.artist;
                audio.play();
                playButton.style.display = 'none';
                pauseButton.style.display = 'inline-block';
                isPlaying = true;

                // Update the current song index
                currentSongIndex = songList.findIndex(s => s.url === song.url);
            } else {
                console.error('Invalid song data:', song);
            }
        }

        document.querySelectorAll('.play5, .play6, .play7, .play8').forEach((button, index) => {
            const song = {
                url: button.getAttribute('data-url'),
                title: button.getAttribute('data-title'),
                artist: button.getAttribute('data-artist')
            };
            songList.push(song);

            button.addEventListener('click', () => {
                handleButtonClick(song);
            });
        });

        playButton.addEventListener('click', () => {
            if (audio.src) {
                audio.play();
                playButton.style.display = 'none';
                pauseButton.style.display = 'inline-block';
                isPlaying = true;
            }
        });

        pauseButton.addEventListener('click', () => {
            audio.pause();
            pauseButton.style.display = 'none';
            playButton.style.display = 'inline-block';
            isPlaying = false;
        });

        audio.addEventListener('timeupdate', () => {
            const progressPercent = (audio.currentTime / audio.duration) * 100;
            progressBar.style.width = `${progressPercent}%`;
        });

        progressContainer.addEventListener('click', (e) => {
            const width = progressContainer.clientWidth;
            const clickX = e.offsetX;
            const duration = audio.duration;
            audio.currentTime = (clickX / width) * duration;
        });

        nextButton.addEventListener('click', () => {
            if (songList.length > 0) {
                currentSongIndex = (currentSongIndex + 1) % songList.length;
                const nextSong = songList[currentSongIndex];
                handleButtonClick(nextSong);
            }
        });

        prevButton.addEventListener('click', () => {
            if (songList.length > 0) {
                currentSongIndex = (currentSongIndex - 1 + songList.length) % songList.length;
                const prevSong = songList[currentSongIndex];
                handleButtonClick(prevSong);
            }
        });

        audio.addEventListener('error', () => {
            console.error('Failed to load audio source:', audio.src);
        });
    });

    function debounce(func, delay) {
        return function (...args) {
            clearTimeout(debounceTimer);
            debounceTimer = setTimeout(() => func.apply(this, args), delay);
        };
    }

    const handlePlayPause = debounce(function () {
        const playButton = document.querySelector('.play');
        const pauseButton = document.querySelector('.pause');
        const audio = document.getElementById('audio1');

        if (isPlaying) {
            audio.pause();
            playButton.style.display = 'inline-block';
            pauseButton.style.display = 'none';
        } else {
            audio.play();
            playButton.style.display = 'none';
            pauseButton.style.display = 'inline-block';
        }
        isPlaying = !isPlaying;
    }, 300);

    document.querySelector('.play').addEventListener('click', handlePlayPause);
    document.querySelector('.pause').addEventListener('click', handlePlayPause);

    document.addEventListener('DOMContentLoaded', function () {
        const trendingButton = document.getElementById('trending_section');
        const s1990Button = document.getElementById('s1990_section');
        const reccomenctionButton = document.getElementById('reccomention_section');

        const upperSection1 = document.getElementsByClassName('upper_section1');
        const upperSection2 = document.getElementsByClassName('upper_section2');
        const upperSection3 = document.getElementsByClassName('upper_section3');

        const oldSongsSections = document.getElementsByClassName('old_songs');
        const featuresSections = document.getElementsByClassName('features');
        const recommendationSections = document.getElementsByClassName('recommendation');

        const back1 = document.getElementById('back1')

        const upper_section = document.getElementsByClassName('upper_section');

        if (trendingButton) {
            trendingButton.addEventListener('click', function () {

                for (const section of oldSongsSections) {
                    section.style.display = 'none';
                }
                for (const section of featuresSections) {
                    section.style.display = 'none';
                }
                for (const section of recommendationSections) {
                    section.style.display = 'none';
                }
                for (const section of upper_section) {
                    section.style.display = 'none';
                }


                for (const section of upperSection1) {
                    section.style.display = 'flex';
                }
            });
        }

        if (s1990Button) {
            s1990Button.addEventListener('click', function () {

                for (const section of oldSongsSections) {
                    section.style.display = 'none';
                }
                for (const section of featuresSections) {
                    section.style.display = 'none';
                }
                for (const section of recommendationSections) {
                    section.style.display = 'none';
                }
                for (const section of upper_section) {
                    section.style.display = 'none';
                }


                for (const section of upperSection2) {
                    section.style.display = 'flex';
                }
            });
        }

        if (reccomenctionButton) {
            reccomenctionButton.addEventListener('click', function () {

                for (const section of oldSongsSections) {
                    section.style.display = 'none';
                }
                for (const section of featuresSections) {
                    section.style.display = 'none';
                }
                for (const section of recommendationSections) {
                    section.style.display = 'none';
                }
                for (const section of upper_section) {
                    section.style.display = 'none';
                }


                for (const section of upperSection3) {
                    section.style.display = 'flex';
                }
            });
        }

        if (back1) {
            back1.addEventListener('click', function () {

                for (const section of oldSongsSections) {
                    section.style.display = 'block';
                }
                for (const section of featuresSections) {
                    section.style.display = 'flex';
                }
                for (const section of recommendationSections) {
                    section.style.display = 'flex';
                }
                for (const section of upper_section) {
                    section.style.display = 'flex';
                }


                for (const section of upperSection1) {
                    section.style.display = 'none';
                }
            });
        }


        if (back2) {
            back2.addEventListener('click', function () {
                // Hide all sections
                for (const section of oldSongsSections) {
                    section.style.display = 'flex';
                }
                for (const section of featuresSections) {
                    section.style.display = 'flex';
                }
                for (const section of recommendationSections) {
                    section.style.display = 'flex';
                }
                for (const section of upper_section) {
                    section.style.display = 'flex';
                }

                // Show the upper_section1
                for (const section of upperSection2) {
                    section.style.display = 'none';
                }
            });
        }


        if (back3) {
            back3.addEventListener('click', function () {
                // Hide all sections
                for (const section of oldSongsSections) {
                    section.style.display = 'flex';
                }
                for (const section of featuresSections) {
                    section.style.display = 'flex';
                }
                for (const section of recommendationSections) {
                    section.style.display = 'block';
                }
                for (const section of upper_section) {
                    section.style.display = 'flex';
                }

                // Show the upper_section1
                for (const section of upperSection3) {
                    section.style.display = 'none';
                }
            });
        }
    });


</script>

</html>