<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <title>Music Website</title>
</head>

<body>
    <!-- <header>
        <div >
            <div class="menu_side"></div>
            <div ></div>
            <div></div>
            <div></div>


        </div>
        <div class="song_side"></div>
        <div class="master_play"></div> -->

    

    <div class="main_div">
        
        <div class="search_bar"></div>


        <div class="main_screen">
            
            <div class="navbar"></div>

            <div class="upper_section">
                <div class="trending"></div>
                <div class="old_songs"></div>
                <div class="features">
                    <div class="first_feature"></div>
                    <div class="secoend_feature"></div>
                    <div class="third_feature"></div>
                    <div class="fourth_feature"></div>

                </div>
            </div>
            <div class="lower_section">

                <div class="reccmondation"></div>
                <div class="player"></div>

            </div>







        </div>


    </div>


    </header>
    <script src="app.js"></script>

</body>

</html>