<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rose</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/listen2gether.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">Rose</div>
            <div class="nav-links">
                <div class="nav-link-token-profile">
                    <a href="#">PL</a>
                </div>
            </div>
        </div>

        <div class="main_div">
            <div class="search_bar">
                <div class="search_bar_1">
                    <div class="search_bar_2">
                        <label for="search">🔎︎</label>
                        <input type="text" id="search" name="search" placeholder="Search">
                        <button type="submit">Search</button>
                    </div>
                </div>
            </div>

            <div class="main_screen">
                <div class="upper_section">
                    <div class="editing_section">
                        
                    </div>
                </div>
                <div class="lower_section">
                    <div class="player">
                        <div class="player_1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>