<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="page_info">
            <span class="main_head">Welcome to Sign Up</span>
            <span class="sub_head">Create your Rose account</span>
        </div>
        <div class="signup-form">
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <div class="first_last">
                    <div class="first">
                        <label for="first_name">First name:</label>
                        {{form.first_name}}
                    </div>
                    <div class="last">
                        <label for="last_name">Last name:</label>
                        {{form.last_name}}
                    </div>
                </div>
                <div class="form-group1">
                    <label for="email">Email:</label>
                    {{form.email}}
                </div>
                <div class="form-group1">
                    <label for="username">Username:</label>
                    {{form.username}}
                </div>
                <div class="form-group1">
                    <label for="paswword1">Password:</label>
                    {{form.password1}}
                </div>
                <div class="form-group1">
                    <label for="password2">Confirm password:</label>
                    {{ form.password2}}
                </div>
                <div class="button_link1">
                    <button type="submit" class="btn1">Sign Up</button>
                    <a href="{% url 'login_page' %}">Login</a>
                </div>
            </form>
            {% if form.errors %}
                <div class="errors">
                    <ul>
                        {% for field in form %}
                            {% if field.errors %}
                                <li>{{ field.label }}: {{ field.errors }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
