<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="page_info">
            <span class="main_head">Welcome to Login</span>
            <span class="sub_head">Use your Rose account</span>
        </div>
        <div class="signin-form">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username:</label>
                    {{form.username}}
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    {{form.password}}
                </div>
                <div class="button_link">
                    <button type="submit" class="btn">Sign In</button>
                    <a href="{% url 'register' %}">Create account</a>
                </div>
            </form>
            {% if form.errors %}
                <div class="errors">
                    <ul>
                        {% for field in form %}
                            {% if field.errors %}
                                <li>{{ field.label }}: {{ field.errors }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
