{% extends 'base.html' %}

{% block extra_css %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/listen2gether.css' %}">

{% endblock %}


{% block content%}
            <div class="main_screen">
                <div class="upper_section">
                    <div class="editing_section">
                        <div class="collaborative_player_container">
                            <div class="collaborative_player_container_search_header">
                                <h2>Play list</h2>
                                <div class="search_bar_for_playlist">
                                    <input type="text" id="collaboration_search_bar" placeholder="Search" name="collaboration_search_bar">
                                    <button type="button" id="search_query">Search</button>
                                </div>
                            </div>
                            <table>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Title</th>
                                        <th>Album</th>
                                        <th>Data Added</th>
                                        <th>Duration</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in songs %}
                                    <tr>
                                        <td>
                                            <button class="play" data-id="{{ forloop.counter0 }}">
                                                <i class="fas fa-play"></i>
                                            </button>
                                            <button class="pause" data-id="{{ forloop.counter0 }}" style="display: none;">
                                                <i class="fas fa-pause"></i>
                                            </button>
                                        </td>
                                        <td><a href="#">{{ i.title }}</a></td>
                                        <td><a href="#">{{ i.artist.title }}</a></td>
                                        <td>{{ i.date_added }}</td>
                                        <td>{{ i.duration }}</td>
                                        <audio id="audio-{{ forloop.counter0 }}" src="{{ i.preview }}"></audio>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endblock %}