{% extends 'base.html' %}

{% block extra_css %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/tunes.css' %}">

{% endblock %}


{% block content%}

            <div class="main_screen">
                <div class="upper_section">
                    <div class="paino">
                        <div class="paino_1">
                            <a href="{% url 'piano' %}"><h1> Paino </h1></a>
                        </div>
                    </div>

                    <div class="violen">
                        <div class="violen_1">
                            <a href="{% url 'violien' %}"><h1> Violen</h1></a>

                        </div>
                    </div>

                    <div class="guitar">
                        <div class="guitar_1">
                            <a href="{% url 'guitar' %}"><h1>Guitar</h1></a>
                        </div>

                    </div>
                </div>
{% endblock %}