ody{
    font-family: 'Poppins',sans-serif;
    width: 100%;
    /* height:90vhvh; */
   
    background: #121213;
    /* display: grid; */
    place-items: center;
}

.navbar{
    height: 10vh;
    width: 100%;
    border: 1px solid #fff;
}

.main_div{
    height: 90vh;
    width: 100%;
    /* border-style: double; */
    display: flex;


}



.search_bar{

    width: 20%;
    height: 100vh;
    border: 1px solid #fff;
 

}


.main_screen{
    width: 79%;
    height: 100vh;
    border: 1px solid #fff;
    
   

}

.upper_section{
    width: 100%;
    height: 50vh;
    border: 1px solid #fff;
    display: flex;

 

}

.lower_section{
    width: 100%;
    /* height: 50vh; */
    border: 1px solid #fff;


}

.trending{
    width: 33.33%;
    height: 50vh;
    border: 1px solid #fff;


}

.old_songs{
    width: 33.33%;
    height: 50vh;
    border: 1px solid #fff;

}

.features{
    width: 33.33%;
    height:50vh;
    border: 1px solid #fff;
   



}

.first_feature{

    height:12.5vh;
    width:100%;
    border: 1px solid #fff;

}

.secoend_feature{
    height:12.5vh;
    width:100%;
    border: 1px solid #fff;


}

.third_feature{
    height:12.5vh;
    width:100%;
    border: 1px solid #fff;


}

.fourth_feature{
    height:12vh;
    width:100%;
    border: 1px solid #fff;


}

.reccmondation{

    height:25vh;
    width:100%;
    border:1px solid #fff;

}

.player{

    height:14vh;
    width:100%;
    border:1px solid #fff;

}