body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C0C0C0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.navbar {
    height: 10%;
    width: 100%;
    box-shadow: 1px 2px 4px 2px rgb(254, 254, 254);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(235, 54, 235, 0.909)
}

.navbar .logo {
    font-size: 1.5em;
    color: #fff;
    margin-left: 20px;
}

.navbar .nav-links {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navbar .nav-links a {
    color: #010000;
    text-decoration: none;
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
}

.navbar .nav-links a:hover {
    text-decoration: underline;
}

.nav-link-token {
    width: 65px;
    border: 1px solid #fff;
    padding: 15px;
    margin: 15px;
    background-color: #ffffff;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-link-token-profile a {
    padding-right: 12px;
}

.nav-link-token-profile {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    padding: 15px;
    margin: 15px;
    background-color: #ffffff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main_div {
    flex: 1;
    display: flex;
}

.search_bar {
    width: 18%;
    height: 100%;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
}

.search_bar_1 {
    background-image: linear-gradient(violet, silver);
    height: 100%;
    width: 100%;
    box-shadow: 1px 1px 5px rgb(10, 8, 8);
    border-radius: 10px;
    padding: 25px;
    box-sizing: border-box;
}
.search_bar_2 {
    background-color: #f5eded;
    padding: 5px;
    border-radius: 21px;
    display: flex;
    align-items: center;
}

.search_bar_2 label {
    width: 5%;
    margin: 0 8px;
    font-size: 16px;
}

.search_bar_2 input[type="text"] {
    width: 65%;
    flex: 1;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
}

.search_bar_2 input[type="text"]::placeholder {
    color: #666;
}

.search_bar_2 button {
    width: 30%;
    padding: 8px 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 22px;
    cursor: pointer;
    margin-left: 8px;
    padding-right: 60px;
}

.search_bar_2 button:hover {
    background-color: #45a049;
}

.main_screen {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.upper_section {
    height: 80%;
    margin-bottom: 5px;
    display: flex;
}


.editing_section {
    height: 100%;
    position: relative;
    width: 100%;
    border: 1px solid #45a049;
    margin: 5px;
    background-image: url(https://images.unsplash.com/photo-1644145876127-c189b84fc70f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgb(10, 8, 8);
    display: flex;
    flex-direction: row;
}

.editing_section::before {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(238, 130, 238, 0.189);
    border-radius: 10px;
    pointer-events: none;
}


.lower_section {
    height: 20%;
    display: flex;
    flex-direction: column;
}

.player {
    height: 100%;
    margin-bottom: 5px;
    padding: 5px;
}

.player_1 {
    background-image: linear-gradient(black, black);
    height: 100%;
    width: 100%;
    box-shadow: 1px 1px 5px rgb(10, 8, 8);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
.song_info{
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.song_info h1{
    font-size: 20px;
    font-family: Georgia;
    color: white;
    margin: 0;
    padding: 0;
}

.song_info .title_artist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    align-items: center;    
}

.song_info .title_artist > * {
    margin: 1px;
}

.song_info h2{
    color: white;
    font-size: 10px;
    font-family: Georgia;
    margin: 0;
    padding: 0;
}
.progress-container1 {
    width: 60%;
    height: 5px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 5px;
    padding: 0;
}

.progress-bar1 {
    background-color: #4caf50;
    width: 0;
    transition: width 0.2s;
}

.controls{
    height: 20%;
}

.controls button{
    box-shadow: 0 0 10px red;
    border: none;
    border-radius: 50%;
    height: 35px;
    background: transparent;
    width: 35px;
    margin: 0px 20px 0px 20px;
}

.controls button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px white;
}

.controls .shuffle{
    background-image: url("https://cdn-icons-png.flaticon.com/512/4340/4340450.png");
    background-position: center;
    background-size: cover;
}

.controls .backward{
    background-image: url("https://cdn-icons-png.flaticon.com/512/4340/4340238.png");
    background-position: center;
    background-size: cover;
}

.controls .forward{
    background-image: url("https://cdn-icons-png.flaticon.com/512/4340/4340228.png");
    background-position: center;
    background-size: cover;
}

.controls .pause1{
    background-image: url("https://cdn-icons-png.flaticon.com/128/4340/4340118.png");
    background-position: center;
    background-size: cover;
}

.controls .play1{
    background-image: url("https://cdn-icons-png.flaticon.com/512/4340/4340106.png");
    background-position: center;
    background-size: cover;
}

.controls .repeat{
    background-image: url("https://cdn-icons-png.flaticon.com/512/4340/4340446.png");
    background-position: center;
    background-size: cover;
}


.aditional_options button{
    box-shadow: 0 0 10px red;
    background: transparent;
    border: none;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin: 2px
}

.aditional_options button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px white;
}

.aditional_options .share{
    background-image: url("https://cdn-icons-png.flaticon.com/512/4340/4340337.png");
    background-position: center;
    background-size: cover;
}

.aditional_options .lyrics{
    background-image: url("https://cdn-icons-png.flaticon.com/512/4340/4340388.png");
    background-position: center;
    background-size: cover;
}

.aditional_options .like{
    background-image: url("https://cdn-icons-png.flaticon.com/512/4340/4340207.png");
    background-position: center;
    background-size: cover;
}
.aditional_options{
    width: 10%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction:column;
}










.collaborative_player_container {
    background-image: linear-gradient(violet, silver);
    width: 60%;
    border: 1px solid #010000;
    margin: 20px 10px 10px 20px;
    border-radius: 10px;
    box-shadow: 5px 1px 2px 3px #004d1aaf;
    max-height: 100%;
    padding: 25px;
    position: relative;
}


.collaborative_player_container table {
    width: 100%;
    border-collapse: collapse;
    background: transparent;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
    border-radius: 8px;
    overflow: hidden;
}

.collaborative_player_container thead {
    background: transparent;
    color: white;
    position: sticky;
    top: 0;
    z-index: 10;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #004d1aaf;
}


.collaborative_player_container thead th {
    padding: 15px;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    background: transparent;
    
}

.collaborative_player_container tbody {
    display: block;
    overflow-x: auto;
    max-height: 310px;
    
}

.collaborative_player_container tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    
}

.collaborative_player_container tbody tr:nth-child(even) {
    background: transparent;
}

.collaborative_player_container tbody td {
    padding: 15px;
    text-align: left;
    font-size: 14px;
}

.collaborative_player_container tbody tr:hover {
    background-color: rgba(248, 173, 248, 0.63);
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #004d1aaf;
}

.collaborative_player_container tbody::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.collaborative_member_container {
    background-image: linear-gradient(violet, silver);
    width: 40%;
    border: 1px solid #010000;
    margin: 20px 10px 10px 20px;
    border-radius: 10px;
    box-shadow: 5px 1px 2px 3px #004d1aaf;
    max-height: 100%;
    padding: 25px;
    position: relative;
}


.collaborative_member_container table {
    width: 100%;
    border-collapse: collapse;
    background: transparent;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
    border-radius: 8px;
    overflow: hidden;
}

.collaborative_member_container thead {
    background: transparent;
    color: white;
    position: sticky;
    top: 0;
    z-index: 10;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #004d1aaf;
}


.collaborative_member_container thead th {
    padding: 15px;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    background: transparent;
    
}

.collaborative_member_container tbody {
    display: block;
    overflow-x: auto;
    max-height: 365px;
}

.collaborative_member_container tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    
}

.collaborative_member_container tbody tr:nth-child(even) {
    background: transparent;
}

.collaborative_member_container tbody td {
    padding: 15px;
    text-align: left;
    font-size: 14px;
}

.collaborative_member_container tbody tr:hover {
    background-color: rgba(248, 173, 248, 0.63);
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #004d1aaf;
}

.collaborative_member_container tbody::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}


.collaborative_player_container_search_header{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    overflow: hidden;
}

.collaborative_player_container_search_header h2{
    font-size: 25px;
    font-family: Georgia, serif;
    white-space: nowrap;
    margin-right: 10px;
}

.collaborative_player_container_search_header input{
    border: none;
    height: 25px;
    flex: 1;
    padding-left: 15px;
    outline: none;
    background: none;
}

.search_bar_for_playlist{
    border: 1px solid #004d1aaf;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 25px;
    border-radius: 25px;
    background-color: #fff;
    margin-left: auto
}

.search_bar_for_playlist button{
    border: none;
    /* background: none; */
    background-color: #c27705;
    padding: 10px;
    border-radius: 25px;
}

.search_bar_for_playlist button:hover{
    background-color: #45a049;
    transform: scale(1.05);
}

.member_options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.member_options h2{
    font-size: 25px;
    font-family: Georgia, serif;
    white-space: nowrap;
    margin-right: 10px;
}

.member_options button{
    margin-right: auto;
    border: none;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    margin: 10px;
}

.member_options_part{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add{
    font-size: 30px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.add:hover{
    transform: scale(1.05);
}

.share{
    background-image: url("https://d11a6trkgmumsb.cloudfront.net/original/4X/d/a/1/da1862dd405badf6f528248b6a0e020aae8471a1.png");
    background-position: center;
    background-size: 80%;
    margin-top: 10px;
}
.share:hover{
    transform: scale(1.05);
}
.exit{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNqEkpVNY94u1YGj6RBKO1Ts7l_3NranuaDQ&s");
    background-position: center;
    background-size: 80%;
}
.exit:hover{
    transform: scale(1.05);
}

.play{
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    padding: 10px;
    color: #555;
    box-shadow: 1px 2px 2px 1px #070707;
    border-radius: 60%;
}
.play:hover{
    transition: color 0.3s;
    transform: scale(1.05);
}

.pause{
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    padding: 10px;
    color: #555;
    box-shadow: 1px 2px 2px 1px #070707;
    border-radius: 60%;
}
.pause:hover{
    transition: color 0.3s;
    transform: scale(1.05);
}