body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.navbar {
    height: 10%;
    width: 99.9%;
    /* border-bottom: 1px solid #fff; */
    box-shadow: 1px 2px 4px 2px rgb(114, 106, 106);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 20px; */
    border-radius: 40px;
    background: conic-gradient(rgb(0, 0, 0), rgb(70, 66, 66));


}

.logo {

    margin: auto;
    margin-left: 10%;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 46px;
    color: #000000;
    text-shadow: 2px 2px 5px rgb(243, 0, 0);
}

.navbar .nav-links {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navbar .nav-links a {
    color: #fa0000;
    text-decoration: none;
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
}

.navbar .nav-links a:hover {
    text-decoration: underline;
}

.nav-link-token {
    width: 65px;
    border: 1px solid #fff;
    padding: 15px;
    margin: 15px;
    background-color: #5d5a5a;

    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-link-token-profile a {
    padding-right: 12px;
}

.nav-link-token-profile {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    padding: 15px;
    margin: 15px;
    background-color: #706f6f;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Vertically center the text */
    text-align: center;
}

.main_div {
    flex: 1;
    display: flex;
    background-color: #c81010da;
    border-radius: 2%;

}

.search_bar {
    width: 18%;
    height: 100%;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
}

.search_bar_1 {
    /* background-color: #ee4c2be2; */
    background-color: #000000;
    height: 100%;
    width: 100%;
    box-shadow: 1px 1px 5px rgb(10, 8, 8);
    border-radius: 10px;
    padding: 25px;
    box-sizing: border-box;
}

.main_screen {
    width: 81.8%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #C0C0C0;
    margin-top: 0.5%;
    background-color: rgb(167, 17, 17);
    border-radius: 30px;

}

.upper_section {
    height: 40.2%;
    margin-bottom: 10px;
    flex-shrink: 0;
    flex-grow: 0;
    /* flex: 1; */
    display: flex;
}

.lower_section {
    height: 20%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.features {
    width: 33.33%;
    padding: 5px;
}

.trending {
    width: 33.33%;
    padding: 5px;
}

.old_songs {
    width: 33.33%;
    padding: 5px;
}

.trending_1 {
    /* background-color: #ee4c2be2; */
    background-image: url("https://st.depositphotos.com/1001877/4912/i/450/depositphotos_49123195-stock-photo-vintage-microphone-on-green-background.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    box-shadow: 1px 1px 5px rgb(10, 8, 8);
    border-radius: 10px;
}

.old_songs_1 {
    /* background-color: #ee4c2be2; */
    background-image: url("https://i.etsystatic.com/23358955/r/il/35a091/2934089131/il_570xN.2934089131_ozgg.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    width: 100%;
    box-shadow: 1px 1px 5px rgb(10, 8, 8);
    border-radius: 10px;
}

.centered {

    position: absolute;
    
    top: 39%;
    left: 700px;
    transform: translate(-40%, -50%);
    color: black;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Roboto';
    font-style: italic;
}

 


.recommendation {
    padding: 5px;
    flex: 1;
}

.player {
    height: 35%;
    margin-bottom: 5px;
    padding: 5px;
}

.recommendation_1 {
    background-image: radial-gradient(rgba(223, 9, 9, 0.775), rgb(0, 0, 0));

    height: 100%;
    width: 100%;
    box-shadow: 1px 1px 5px rgb(10, 8, 8);
    border-radius: 10px;
}

/* .reccmondation_1 img{
    height: 15vh;
    padding: 20px;
    padding-left: 25px;
    
    margin-top: 20px;
    margin: 10px;
    margin-left: 20px;
    width: 25%;
    
}
.reccmondation_1 a {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    margin-left: 450px;
    color: rgb(210, 34, 87);
    font-size: 17px;
    margin-top: 10px; 
}
.reccmondation_1 img:hover{
    transform: scale(1.1);
} */


.player_1 {
    /* background-color: #ee4c2be2;
     */
    background: linear-gradient( rgb(51, 23, 4), #0c0906);
    height: 100%;
    width: 100%;
    box-shadow: 2px 2px 7px rgb(10, 8, 8);
    border-radius: 30px;
}

.features_1 {
    /* background-color: #ee4c2be2; */
    background-image: linear-gradient(rgb(88, 88, 88), rgb(86, 36, 14));
    /* background-image: url('https://getwallpapers.com/wallpaper/full/7/3/1/1398987-large-red-fire-wallpaper-3840x2160-for-ipad.jpg');
    background-size: contain; */

    height: 100%;
    width: 100%;
    box-shadow: 1px 1px 5px rgb(10, 8, 8);
    border-radius: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;

}

.first_feature {
    margin: 10px;
    height: 25%;

}

.second_feature {
    margin: 10px;
    height: 25%;
}

.third_feature {
    margin: 10px;
    height: 25%;
}

.fourth_feature {
    margin: 2px;
    height: 25%;
}

.first_feature_1 {
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    /* box-shadow: 0px 1px 10px rgb(0, 0, 0); */
    background: radial-gradient(circle, rgb(215, 0, 0), rgb(0, 0, 0));
    border-radius: 8px;
}

.fourth_feature {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    box-shadow: 0px 1px 10px rgb(0, 0, 0);
    border-radius: 8px;
}

.first_feature_1 a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.first_feature_1 a.hover {
    text-decoration: underline;
}

.second_feature_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    box-shadow: 0px 1px 10px rgb(0, 0, 0);
    border-radius: 5px;
}

.second_feature_1 a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}

.second_feature_1 a.hover {
    text-decoration: underline;
}

.third_feature_1 {
    height: 100%;
    width: 100%;
    box-shadow: 0px 1px 10px rgb(0, 0, 0);
    border-radius: 5px;
}

.fourth_feature_1 {
    height: 100%;
    width: 100%;
    box-shadow: 0px 1px 10px rgb(0, 0, 0);
    border-radius: 5px;
}


.search_bar_2 {
    background-color: #f5eded;
    padding: 5px;
    border-radius: 21px;
    display: flex;
    align-items: center;
}

.search_bar_2 label {
    width: 5%;
    margin: 0 8px;
    font-size: 16px;
}

.search_bar_2 input[type="text"] {
    width: 65%;
    flex: 1;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
}

.search_bar_2 input[type="text"]::placeholder {
    color: #666;
}

.search_bar_2 button {
    width: 30%;
    padding: 8px 16px;
    border: none;
    background-color: red;
    color: white;
    font-size: 16px;
    border-radius: 22px;
    cursor: pointer;
    margin-left: 8px;
    padding-right: 60px;
}

.search_bar_2 button:hover {
    background-color: #45a049;
}

.recommendation_1 img:hover {

    transform: scale(1.1);

}

.image_edite {
    display: flex;
     
    /* Allows images to wrap to the next line if needed */
    margin: 9px;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

/* .image_edite:hover{
    transform: scale(1.1);
} */
.image_edite img {
    background-size: contain;
    height: 24vh;
    /* 18% of the viewport height */
    width: 33vh;
    /* 15% of the parent container width */
    /* margin-left: 20px; Space between each image */
    /* padding: 5px; Padding inside the image container */
    margin-top: -2px;
    /* Space above each image */
    border-radius: 12px;
    /* Rounded corners */
    margin: 6px;
    box-shadow: 1px 3px 1px #010000;
}

.recommendation_txt a{
    margin: auto;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 46px;
    color: #000000;
    text-shadow: 2px 2px 5px rgba(255, 209, 6, 0.3);
}

.first_feature_1 {
    background-color: #430303;
}

.fourth_feature_1 {
    text-align: center;
    background-color: #430303;
}

.fourth_feature a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}