body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C0C0C0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.navbar {
    height: 10%;
    width: 100%;
    /* border-bottom: 1px solid #fff; */
    box-shadow: 1px 2px 4px 2px rgb(254, 254, 254);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 20px; */
    border-radius: 10px;
    /* background-color: #EE4B2B; */
    background-color: rgba(235, 54, 235, 0.909)
}

.navbar .logo {
    font-size: 1.5em;
    color: #fff;
    margin-left: 20px;
}

.navbar .nav-links {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navbar .nav-links a {
    color: #010000;
    text-decoration: none;
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
}

.navbar .nav-links a:hover {
    text-decoration: underline;
}

.nav-link-token {
    width: 65px;
    border: 1px solid #fff;
    padding: 15px;
    margin: 15px;
    background-color: #ffffff;
    
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-link-token-profile a{
    padding-right: 12px;
}

.nav-link-token-profile{
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    padding: 15px;
    margin: 15px;
    background-color: #ffffff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Vertically center the text */
    text-align: center;
}
.main_div {
    flex: 1;
    display: flex;
}

.search_bar {
    width: 18%;
    height: 100%;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
}

.search_bar_1{
    /* background-color: #ee4c2be2; */
    background-image: linear-gradient(violet, silver);
    height: 100%;
    width: 100%;
    box-shadow: 1px 1px 5px rgb(10, 8, 8);
    border-radius: 10px;
    padding: 25px;
    box-sizing: border-box;
}

.main_screen {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.upper_section {
    flex: 2;
    display: flex;
}

.editing_section{
    width: 100%;
    border: 1px solid #45a049;
    margin: 5px;
    background-image: linear-gradient(violet, silver);
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(10, 8, 8);
}

.editing_section_1{
    display: flex;
    flex-direction: row;
}

.lower_section { 
    flex: 0.50;
    display: flex;
    flex-direction: column;
}


.player {
    height: 100%;
    margin-bottom: 5px;
    padding: 5px;
}

.player_1 {
    /* background-color: #ee4c2be2;
     */
    background-image: linear-gradient(violet, silver);
    height: 100%;
    width: 100%;
    box-shadow: 1px 1px 5px rgb(10, 8, 8);
    border-radius: 10px;
}


.search_bar_2 {
    background-color: #f5eded;
    padding: 5px;
    border-radius: 21px;
    display: flex;
    align-items: center;
}

.search_bar_2 label {
    width: 5%;
    margin: 0 8px;
    font-size: 16px;
}

.search_bar_2 input[type="text"] {
    width: 65%;
    flex: 1;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
}

.search_bar_2 input[type="text"]::placeholder {
    color: #666;
}

.search_bar_2 button {
    width: 30%;
    padding: 8px 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius:22px;
    cursor: pointer;
    margin-left: 8px;
    padding-right: 60px;
}

.search_bar_2 button:hover {
    background-color: #45a049;
}

.upload_bar {
    margin-left: 5%;
    margin-top: 20px;
    background-color: violet;
    padding: 5px;
    border-radius: 21px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    /* width: 60%; */
}

.upload_bar:hover {
    background-color: rgb(249, 195, 249);
}

.upload_bar label {
    width: 5%;
    margin: 0 8px;
    font-size: 16px;
}

.upload_bar input[type="file"] {
    width: 65%;
    flex: 1;
    margin-left: 20px;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
}

.upload_bar input[type="file"]::placeholder {
    color: #666;
}

.upload_bar .button1 {
    width: 15%;
    padding: 8px 16px;
    border: none;
    background-color: #FFBF00;
    color: white;
    font-size: 16px;
    border-radius:22px;
    cursor: pointer;
    margin-left: 8px;
    padding-right: 60px;
}

.upload_bar .button1:hover {
    background-color: #45a049;
}

.upload_bar .button2 {
    width: 18%;
    padding: 8px 16px;
    border: none;
    background-color: #FFC0CB;
    color: white;
    font-size: 16px;
    border-radius:22px;
    cursor: pointer;
    margin-left: 8px;
    padding-right: 60px;
    
}

.upload_bar .button2:hover {
    background-color: #45a049;
}

.heading_first{
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;    
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%;
    background-image: linear-gradient(violet, silver);
}

.heading_second{
    font-size: 25px;
    font-weight: bold;
    font-family: Arial;
    padding: 5px;
    border-radius: 10px;
    /* margin-left: 5%; */
    padding-top: 3%;
}

.upload_convert_container{
    display: flex;
    flex-direction: row;
}

.conversion-options {
    display: none;
    margin-left: 5%;
    margin-top: 20px;
    background-color: violet;
    padding: 5px;
    border-radius: 21px;
    padding-bottom: 25px;
    width: 100%;
    margin-right: 10px;
    flex-direction: column;
}

.conversion-options:hover{
    background-color: rgb(249, 195, 249);
}

.conversion-options button {
    border: none;
    background-color: #15ad01;
    height: 40px;
    border-radius: 10px;
    width: 80px;
    margin-top: 20px;
    margin-left: 50px;
}

.conversion-options button:hover {
    background-color: #45a049;
}

.conversion-options_1{
    display: flex;
    flex-direction: row;
    align-items: end;
}

.conversion-options a{
    border: none;
    background-color: #15ad01;
    height: 40px;
    border-radius: 10px;
    width: 100px;
    margin-top: 20px;
    text-decoration: none;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player_for_converted{
    height: 40%;
    margin: 10px;
}

.player_for_converted_1{
    /* border: 1px solid #010000; */
    margin: 25px;
    height: 90%;
    width: 87.7%;
    background-color: violet;
    border-radius: 21px;
    
}

.player_for_converted_1:hover {
    background-color: rgb(249, 195, 249);
}