html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 75%;
    margin-bottom: 4%;
    background: white;
    border-radius: 40px;
    flex-direction: row;
}

.signin-form {
    width: 50%;
}

.page_info{
    width: 50%;
    font-family: "PT Sans";
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    margin-left: 4%;
}

.main_head{
    font-size: 35px;
}
.signin-form label{
    font-size: 16px;
    font-family: "PT Sans";
    margin-left: 10px;
    margin-bottom: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

.form-group input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    transition: border-color 0.3s ease;
}

.form-group input:focus {
    border-color: #007bff;
    outline: none;
}

.btn {
    padding: 0.75em;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    height: auto;
    border-radius: 15px;
    width: auto;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}
.button_link{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.button_link a {
    color: #007bff;
    margin-left: 20px;
    text-decoration: none;
}

.button_link a:hover {
    text-decoration: underline;
}

/* Sign Up */

.signup-form {
    width: 50%;
}

.form-group1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.form-group1 input {
    width: 80%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    transition: border-color 0.3s ease;
}

.form-group1 input:focus {
    border-color: #007bff;
    outline: none;
}

.btn1 {
    padding: 0.75em;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    height: auto;
    border-radius: 15px;
    width: auto;
    transition: background-color 0.3s ease;
}

.btn1:hover {
    background-color: #0056b3;
}

.button_link1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.button_link1 a {
    color: #007bff;
    margin-left: 20px;
    text-decoration: none;
}

.button_link1 a:hover {
    text-decoration: underline;
}

.first_last{
    display: flex;
    width: 80%;
    flex-direction: row;
    margin-bottom: 5px;

}

.first{
    margin-right: 8.5%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.last{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.first input{
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    transition: border-color 0.3s ease;
}

.last input{
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    transition: border-color 0.3s ease;
}

@media (max-width: 768px) and (min-width: 481px){
    .signin-form{
        height: 10px; 
    }
}